@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать в интернет-магазин _1210!</h1>
<p>Узнайте больше о создании веб-приложений с ASP.NET Core.</p>

<a href="@Url.Action("Register", "Account")" class="btn btn-primary">Регистрация</a>
